<div class="container">
  <form *ngIf="addcalulateCdbFormGroup" [formGroup]="addcalulateCdbFormGroup" (ngSubmit)="onSubmit()" class="example-form">
    <br />
    <mat-form-field floatLabel="always">
      <mat-label>Valor</mat-label>
      <input matInput currencyMask class="right-align"  formControlName="valueToInvest" [options]="{prefix: '', thousands: '.', decimal: ',' }" required>
      <span matTextPrefix>R$&nbsp;</span>
      <mat-error *ngIf="checkError('valueToInvest', 'required')">Insira um valor</mat-error>
      <mat-error *ngIf="checkError('valueToInvest', 'min')">Valor deve ser maior que 1</mat-error>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field floatLabel="always">
      <mat-label>Meses</mat-label>
      <input matInput type="number" class="right-align" placeholder="0" formControlName="monthToInvest" required>
      <mat-error *ngIf="checkError('monthToInvest', 'required')">Insira um valor</mat-error>
      <mat-error *ngIf="checkError('monthToInvest', 'min')">Valor deve ser maior que 2</mat-error>
    </mat-form-field>

    &nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button type="submit" [disabled]="!addcalulateCdbFormGroup.valid" color="primary">Calcular</button>
  </form>
  <br />

  <div class="container" *ngIf="showResult">
    
      <mat-label>Rendimento bruto: R$ {{grossIncome}}</mat-label>
    <br>
      <mat-label>Rendimento liquido: R$ {{netIncome}}</mat-label>
    <br><br>
    <button mat-raised-button (click)="closeDialog()" color="primary">Limpar</button>
  </div>


</div>
